*{
    margin: 0;
    padding: 0;
}

.navber{
    display: flex;
     
}
.navber ul{
    display: flex;
}
.sc1{
    background: url(img/quality_restoration_20250724125403722.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}
.im img{
    width: 10vh;
    height: 5vh;
    margin-left: 10vh;
    padding-top: 2vh;
}
.li li{
    margin-left: 5vh;
    list-style: none;
    margin-top: 3vh;
    color: white;
}
.li li:hover{
    border: 2px solid orange;
    border-left: none;
    border-top: none;
    border-right: none;

}
.li{
    margin-left: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    
}
.back{
    align-items: center;
    text-align: center;
}
.back h1{
    font-size: 15vh;
    letter-spacing: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
}
.back h4{
    letter-spacing: 2vh;
    font-size: 5vh;
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}
.back button{
    border: 2px solid white;
    margin-top: 20vh;
    width: 50vh;
    height: 6vh;
    border-radius: 5vh;
    background-color: transparent;
    color: white;
    font-size: 3vh;
    transition: 0.3s;
    
}
.back button:hover{
    background-color: white;
    color: black;
}

.navber i{
   margin-top: 3vh;
   margin-left: 20vh;
}
.sc2{
    align-items: center;
    text-align: center;
}
.sc2,.bix{
    background-color: rgb(229, 226, 226);
    height: 70vh;
    width: 100%;
}
.bix{
    display: flex;
}
.box1,.box2,.box3{
    border: 4px solid rgb(109, 35, 3);
    width: 40vh;
    height: 40vh;
    text-align: center;
    margin-left: 20vh;
    box-shadow: 0px 0px 5px 2px rgb(120, 119, 119);
    border-top: none;
    border-right: none;
    border-left: none;
}
.box1 h3,.box2 h3,.box3 h3{
    margin-top: 5vh;
}
.box1 p,.box2 p,.box3 p{
    margin-top: 4vh;
}
.sc2 h2{
  font-family: 'Franklin Gothic Medium';
  font-size: 8vh;
  padding-top: 5vh;
}
.sc2 h4{
    margin-top: 4vh;
    letter-spacing: 1vh;
}
.sc2 p{
    font-size: 3vh;
    margin-top: 5vh;
}
.sc3{
    border: 2px solid black;
    height: 60vh;
    width: 195.8vh;
    background-color: rgb(101, 99, 99);
    border: none;
}
.sc3b1{
    border: 2px solid rgb(101, 99, 99);
    height: 60vh;
    width: 110vh;
    margin-left: 46vh;
    margin-top: 5vh;
    background: url(img/scr2\ img.jpeg);
    box-shadow: 0px 0px 5px 2px rgb(55, 55, 55);
    opacity: 5vh;
}
.imtx{
    border: 4px solid orange;
    height: 20vh;
    width: 50vh;
    margin-top: 39.5vh;
   margin-left: 30vh;
    align-items: center;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgb(186, 182, 182);
    backdrop-filter: blur(10vh);
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}
.sc3b2{
    border: 2px solid black;
    height: 40vh;
}
.sc3 h1{
    border: 2vh solid rgb(229, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 40vh;
    margin-left: 80vh;
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 7vh;
}
.imtx h4{
   margin-top: 6vh;

}
.imtx p{
    margin-top: 5vh;
}
.sc4{
    display: flex;
    margin-top: 30vh;
    border: 2px solid none;
    height: 70vh;
    background: url(img/image.png);
    background-position: center;
    background-size: cover;
    color: white;
    padding-left: 10vh;
    border-bottom: none;
}
.sc4 p{
    padding-top: 5vh;
    margin-left: 30vh;
    font-family: Arial, Helvetica, sans-serif;
}
.sc4 h1{
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}
.sc4 button{
    border: 2px solid white;
    width: 30vh;
    height: 5vh;
    margin-left: 30vh;
    background: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vh;
    transition: 0.3s;
}
.sc4 button:hover{
    background-color: white;
    color: black;
}
.sc5{
    display: flex;
    padding-top: 30vh;
    padding-left: 10vh;
    background-color: rgb(230, 229, 229);
    height: 40vh;
}
.sc5b1 h1{
    transform: rotate(90deg);
    
}
.sc5b2{
    border: 4px solid orange;
    height: 40vh;
    width: 30vh;
    margin-top: -10vh;
    border-top: none;
    border-left: none;
    border-right: none;
}
.sc5b1{
    border: 2px solid none;
    height: 18vh ;
    margin-top: -5vh;
    background-color: rgb(150, 148, 148);
}
.sc5b1 h1{
    margin-top: 5vh;
}
.sc5b2 img{
    width: 30vh;
    height: 40vh;
}
.sc5b3{
    margin-left: 10vh;
}
.sc5b3 h1{
    margin-top: -5vh;
}
.sc5b3 h4,p{
    margin-top: 3vh;
}
.sc6{
    border: 2px solid none;
    height: 50vh;
    display: flex;
    align-items: center;
    padding-left: 15vh;
    background: url(img/sc6.png);
    background-position: center;
    background-size: cover;   
}
.sc6 h1{
    text-align: center;
}
.sc6 p{
    margin-left: 40vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    border: 2px solid none;
    width: 100vh;
    height: 30vh;
    padding-top: 5vh;
    padding-left: 5vh;
    background-color: rgb(82, 80, 80);
}
.sc7{
    border: 2px solid none;
    height: 20vh;
   align-items: center;
   text-align: center;
   padding-top: 5vh;
   background-color: rgb(58, 57, 57);
   color: white;
}
.sc7 button{
    margin-top: 5vh;
    border: 2px solid white;
    width: 30vh;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: transparent;
}
.sc7 button:hover{
   background-color: white;
   color: black;
}
.sc8{
    align-items: center;
    text-align: center;
    padding-top: 5vh;
    border: 2px solid none;
    height: 55vh;
    background-color: rgb(234, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}
.sc8 img{
    margin-top: 10vh;
}
.sc9{
    display: flex;
    padding-top: 45vh;
    border: 2px solid none;
    padding-left: 20vh;
    color: white;
    background-color: rgb(68, 66, 66);
    height: 40vh;
    font-family: Arial, Helvetica, sans-serif;
}
.box9{
    border: 2px solid none;
    width: 60vh;
    height: 5vh;
    background-color: rgb(122, 121, 121);
    margin-top: 2vh;
    margin-left: 27vh;
}
.sc9tx2{
    margin-left: 15vh;
}
.sc9 h4{
    padding-left: 45vh;
    padding-top: 1vh;
    
}
.sc9 button{
    margin-top: 2vh;
    border: 2px solid none;
    width: 25vh;
    height: 4vh;
    background-color: rgb(155, 153, 153);
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 62.3vh;
}
.sc10{
    border: 2px solid none;
    background-color: rgb(36, 36, 36);
    height: 10vh;
    padding-left: 35vh;
    color: white;
}
.sc10 ul{
    display: flex;
    color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;  
    padding-top: 1vh;
    margin-right: 20vh;
    
}
.sc9tx1 img{
    width: 10vh;
    height: 5vh;

}
.sc10 li{
    border: 2px solid none;
    height: 5vh;
    padding-top: 2vh;
    width: 50vh;
    text-align: center;

}
.sc10 li:hover{
    border: 2px solid none;
    height: 5vh;
    width: 50vh;
    background: rgb(173, 57, 3);

}